body
{
	background-color: #E0E4CC;
}

.searchArea
{
	margin: 0 auto;
	text-align: center;
	background-color: #A7DBD8;
	padding: 10px;
	width: 30%;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.searchArea label
{
	font: bold 1.3em Arial;
	text-transform: uppercase;
	padding-bottom: 5px;
}
